# data.go.kr credentials
DATA_GO_KR_API_KEY=
KOSIS_API_KEY=
KMA_API_HUB_KEY=

WESTERN_POWER_API_URL=https://api.odcloud.kr/api/15099592/v1/uddi:e1397965-bd2e-48f7-9b72-85d5e0d4300c
EASTWEST_POWER_API_URL=https://api.odcloud.kr/api/15099768/v1/uddi:b701109e-a178-48bb-a5f4-87083e118b5c
SOUTHERN_POWER_EMISSIONS_API_URL=https://api.odcloud.kr/api/15099713/v1/uddi:e7ea7bfd-d0c4-4cb6-afea-95fa7821cb51
SOUTHERN_POWER_GENERATION_API_URL=http://apis.data.go.kr/B552520/GenInfo/getDataService
SOUTHERN_POWER_HOURLY_GENERATION_API_URL=https://apis.data.go.kr/B552520/PwrGenTran/getDataService

# Optional database credentials
DB_HOST=
